/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/html/
/pkg/
/spec/reports/
/tmp/
/.local/

# local console
/bin/console_local

# rspec failure tracking
.rspec_status
.coveralls.yml
.DS_Store
