//
// Green (themes/_green.scss)
//

.green {
  // ----- Hero subheader -----
  .hero-subheader {
    background-color: $color-theme-green;
  }

  // ----- Nav grid -----
  .nav-grid__item {
    background-color: $color-theme-green;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-theme-green;
    }
  }

  // ----- Section -----
  .section--darker-theme-color-bg {
    background-color: darken($color-theme-green, 3%);
  }

  // ----- Page nav -----
  .page-nav {
    background-color: $color-theme-green;
  }

  // ----- Error 404 -----
  &.error-404 {
    background-color: $color-theme-green;
  }
}
