//
// Base (generic/_base.scss)
//

// ----- General ----- 
html {
  -moz-osx-font-smoothing: grayscale;
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;

  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }
}

body {
  background-color: $color-footer-bg;
  color: $color-dark;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

// ----- Everything ----- 
* {
  &,
  &::before,
  &::after {
    @include box-sizing(inherit);
  }
}

// ----- Headings ----- 
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-family-secondary;
  font-weight: 400;
  line-height: $line-height-headings;
  margin: 2.5rem 0 0.9375rem 0;

  &[id] {
    position: relative;
  }

  & + & {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: $font-size-h1;
  font-weight: 700;
}

h2,
.h2 {
  border-bottom: 1px solid $color-h2-border;
  font-size: $font-size-h2;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

h3,
.h3 {
  font-size: $font-size-h3;
  font-weight: 500;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

// ----- Inline elements ----- 
small,
.text-small {
  font-size: $font-size-small;
}

// ----- Paragraphs ----- 
p {
  margin: 0 0 1.25rem 0;
}

// ----- Hyperlinks ----- 
a {
  border-bottom: 0.0625em solid;
  border-color: inherit;
  color: inherit;
  padding-bottom: 0.125em;
  text-decoration: none;
}

// ----- Images ----- 
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

// ----- Horizontal rules ----- 
hr {
  border: 0;
  border-top: 1px solid $color-horizontal-rule;
  margin: 0 0 1.25rem 0;
}

// ----- States ----- 
::-moz-selection {
  background: rgba($color-yellow, 0.99);
  color: $color-dark-green;
}

::selection {
  background: rgba($color-yellow, 0.99);
  color: $color-dark-green;
}

// ----- Quotes ----- 
blockquote {
  margin: 0 0 1.25rem 0;
}

q {
  color: $color-dark-green;
}

// ----- Lists ----- 
ul {
  list-style-type: none;
  margin: 0 0 1.25rem 0;
  padding: 0;

  li {
    margin-bottom: 0.3125rem;
    padding-left: 1.875rem;
    position: relative;

    &:before {
      color: $color-list-prefix;
      content: '\2014';
      left: 0;
      position: absolute;
    }
  }
}

// ----- Definition lists ----- 
dl {
  margin: 0 0 1.25rem 0;

  dt {
    color: $color-definition-list;
    font-weight: 700;
  }

  dd {
    margin: 0;
  }
}

// ----- Acronym and Emphasize tags ----- 
acronym,
em {
  font-style: italic;
}

// ----- Tables ----- 
table {
  border-collapse: collapse;
  font-size: $font-size-base;
  margin: 0 0 1.25rem 0;
  text-align: left;
  width: 100%;

  th,
  td {
    border: 2px solid $color-table-border;
    padding: 0.625rem 0.9375rem;
    vertical-align: middle;

    @media (min-width: $screen-sm-min) {
      padding: 0.8125rem 1.25rem;
    }

    a {
      border-color: $color-dark;
    }
  }

  th {
    background-color: $color-table-header-bg;
    border-color: $color-table-header-border;
    font-family: $font-family-secondary;
    text-transform: uppercase;
  }
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
  margin: 0 0 1.25rem 0;
  overflow-x: scroll;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    overflow-x: visible;
  }

  table {
    margin: 0;
    min-width: 43.75rem;

    @media (min-width: $screen-sm-min) {
      margin: 0;
      min-width: 0;
    }
  }
}

// ----- Iframe ----- 
iframe {
  border: 0;
  display: block;
  margin: 0 0 1.25rem 0;
}

// ----- Button ----- 
button {
  background-color: transparent;
  border: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}
