/**
 * Content (objects/_content.scss)
 */

/* ----- Headings ----- */
.content {
  > :first-child {
    margin-top: 0;
  }

  mark {
    background: #fffeca;
    box-shadow: #fffeca 0 0 5px;
    padding: 0.05em 0.1em;
  }
}
