/**
 * Sections list (components/_sections-list.scss)
 */

/* ----- General ----- */
.sections-list {
  float: left;
  margin-top: 1.25rem;
}

/* ----- Wrapper ----- */
.sections-list-wrapper {
  width: 100%;
}

/* ----- Affix ----- */
.sections-list.affix {
  position: fixed;
  top: 0;
}

.sections-list.affix-bottom {
  position: absolute;
}

/* ----- List ----- */
.sections-list {
  ul {
    ul {
      margin-bottom: 0;
      margin-top: 0.625rem;
    }

    li {
      border-left: 3px solid #eee;
      margin-bottom: 0.625rem;
      transition: border 0.2s;

      &.active {
        border-left-color: $color-dark-green;
      }

      &.has-submenu {
        padding-right: 1.25rem;

        &::after {
          @extend .icon;
          color: #bdbdbd;
          content: '\e91d';
          display: inline-block;
          font-size: 1.25rem;
          position: absolute;
          right: 0;
          top: 0.3125rem;
          transition: color 0.2s;
        }

        > ul {
          display: none;
        }

        &.active {
          &::after {
            color: $color-dark-green;
          }

          > ul {
            display: block;
          }
        }
      }

      &::before {
        display: none;
      }

      a {
        @include link-reset;
      }
    }
  }
}
